{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1><br>


    <div>
    <div>{{ question.supports }} appuis | Créée le {{ question.creationDate|date('d-m-Y H:i:s') }}</div>

    <div class="">
        <a href="#" class="btn btn-primary float-right">Appuyer cette proposition</a><br>
    </div>
    </div>


    <h2>La question en détails</h2>
    <div>{{ question.description |nl2br }}</div>

    <h2>Le débat</h2>

    <h3><strong>Ajouter votre message</strong></h3>

        {# affiche le formulaire#}
        {#novalidate pour désactiver les champs de saisie obligatoire dans le navigateur#}
        {{ form_start(messageForm, {'attr':{'novalidate': 'novalidate'}}) }}
        {{ form_widget(messageForm) }}
        <button class="btn btn-success">Envoyer!</button>
        {{ form_end(messageForm) }}

    {% for message in messages %}
    <div class ="message">
        <p>Envoyé par Manon, le {{ message.creationDate |date('d-m-Y H:i:s')}} </p>
        <p>{{ message.content |nl2br }}</p>
    </br>
    </div>
    {% endfor %}





{% endblock %}

{% block title%}{{ question.title }}{% endblock %}

