{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1><br>
    {#ça marche car la méthode to string a été implémentée dans Sudject.php#}
    <div>{{ question.subjects|join('/') }}</div>


    <div>
        <div>{{ question.supports }} appuis | Créée le {{ question.creationDate|date('d-m-Y H:i:s') }}</div>

        <div class="">
            {% if app.user %}
                <a href="#" class="btn btn-primary float-right">Appuyer cette proposition</a><br>
            {% endif %}
        </div>
    </div>


    <h2>La question en détails</h2>
    <div>{{ question.description |nl2br }}</div>

    <h2>Le débat</h2>

    {% if app.user %}

    <h3><strong>Ajouter votre message</strong></h3>

        {# affiche le formulaire#}
        {#novalidate pour désactiver les champs de saisie obligatoire dans le navigateur#}
        {{ form_start(messageForm, {'attr':{'novalidate': 'novalidate'}}) }}
        {{ form_widget(messageForm) }}
        <button class="btn btn-success">Envoyer!</button>
        {{ form_end(messageForm) }}
    </br>

    {% endif %}


    {% for message in messages %}
    <div class ="border border-info">
        <p><em>Envoyé par Manon, le {{ message.creationDate |date('d-m-Y H:i:s')}} </em></p>
        <p>{{ message.content |nl2br }}</p>
    </div>
        </br>
    {% endfor %}





{% endblock %}

{% block title%}{{ question.title }}{% endblock %}

